#login form {
	width: 100%;
	min-height: 40px;
	position: fixed;
	bottom: 0;
	/*background-color: #90c7be;*/
	background-color: #212121;
	margin-left: -8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/*display: none;*/
}

#login form .text {
	position: relative;
	/*top: 100%;*/
	transform: translateY(15%);
	margin-left: 30px;
	border-radius: 5px;
	border: 1px solid #404040;
	font: 14px "Roboto";
	padding: 5px;
	width: 20%;
}

#register_button {
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(15%);
	margin-right: 20px;
	border-radius: 10px;
	border: 3px solid #FFFFFF;
	font: bold 14px "Roboto";
	color: #FFFFFF;
	padding: 5px;
	width: 140px;
	background-color: #00B26F;
	/*box-shadow: 2px 2px 5px black;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#register_button:hover {
	background-color: #FFFFFF;
	color: #00B26F;
}

#login_button {
	position: relative;
	top: 50%;
	transform: translateY(15%);
	margin-left: 20px;
	border-radius: 10px;
	border: 3px solid #FFFFFF;
	font: bold 14px "Roboto";
	color: #212121;
	padding: 5px;
	width: 140px;
	background-color: #B6B6B6;
	/*float: right;
	position: relative;
	top: 50%;
	transform: translateY(50%);
	margin-right: 20px;*/
}

#login_button:hover {
	background-color: #212121;
	color: #FFFFFF;
}

#usr_data {
	min-height: 40px;
	width: 100%;
	position: fixed;
	/*top: 0;*/
	bottom: 0;
	background: linear-gradient(to right,#00E1B9, #00B26F); 
	margin-left: -8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#usr_data .text {
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(50%);
	margin-left: 10px;
	margin-top: 0px;
	font: bold 19px "Roboto";
	color: #FFFFFF;
}

#usr_data .button {
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(15%);
	margin-right: 20px;
	border-radius: 10px;
	border: 3px solid #FFFFFF;
	font: bold 14px "Roboto";
	color: #FFFFFF;
	padding: 5px;
	width: 100px;
	background-color: #00B26F;
}

#usr_data .button:hover {
	background-color: #FFFFFF;
	color: #00B26F;
}

#usr_data img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	position: absolute;
	top: 0;
}