body {
	background: url(../assets/images/bkgrnd.png);
}

#logo {
	width: 700px;
	margin: 0 auto;
	margin-top: 50px;
}

/*#logo:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
}

#logo:hover {
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
}*/



/*#logo {
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
}*/

#logo figure {
	width: 500px;
	margin: 0 auto;
}

#logo img {
	width: 100%;
}

#search {
	width: 100%;
}

#search_form {
	margin: 0 auto;
	margin-top: 30px;
	width: 700px;
	height: 50px;
	vertical-align: middle;
}

.tulbux #logo {
	-webkit-transform: translate(-335px, -116px) scale(0.25, 0.25);
	-moz-transform: scale(0.6, 0.6) translate(-100px, -430px);
	-o-transform: scale(0.6, 0.6) translate(-100px, -430px);
	-ms-transform: scale(0.6, 0.6) translate(-100px, -430px);
}

.tulbux #search_form {
	-webkit-transform: translate(-60px, -260px) scale(0.6, 0.6);
	-moz-transform: scale(0.6, 0.6) translate(-100px, -430px);
	-o-transform: scale(0.6, 0.6) translate(-100px, -430px);
	-ms-transform: scale(0.6, 0.6) translate(-100px, -430px);
}

.tulbux #videos {
	-webkit-transform: translate(0px, -285px);
	-moz-transform: translate(0px, -285px);
	-o-transform: translate(0px, -285px);
	-ms-transform: translate(0px, -285px);
}

.tulbux #search_form, .tulbux #logo, .tulbux #videos {
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	-ms-transition: all 1s linear;
}

/*#tulbux:hover #search {
	animation: fix_search 1s forwards;
}

#tulbux:hover #search_box {
	animation: fix_search_box 1s forwards;
}

#tulbux:hover #search_bttn {
	animation: fix_search_bttn 1s forwards;
}*/

#filters {
	position: absolute;
    top: 30px;
    margin: 0 auto;
    width: 100px;
    height: 120px;
    border: 3px solid #000000;
    background-color: rgba(255, 255, 255, 0.6);
    font: 16px "Roboto";
    z-index: 999;
    
}

#search_box {
	width: 540px;
	height: 80%;
	border-radius: 10px;
	border: 1px solid #000000;
	vertical-align: middle;
	margin-top: 3px;
	font: 25px "Roboto";
 }

#video {
	margin-top: 37px;
	width: 100%;
	/*background-color: blue;*/
}

.filters_bttn {
	border-radius: 10px;
	background-color: #ffffff;
	border: 3px solid #a2a2a2;
	height: 80%;
	width: 100px;
	font: bold 20px "Roboto";
	line-height: 80%;
	margin-left: 5px;
	vertical-align: bottom;
}

.filters_bttn:hover {
	background-color: #a2a2a2;
}

.search_bttn {
	height: 60%;
	vertical-align: middle;
	margin-left: 5px;
}

.search_bttn:hover {
	height: 70%;
}

#videos {
	width: 90%;
	min-width: 700px;
	/*background-color: green;*/
	margin: 0 auto;
	margin-top: 20px;
	display: table;
	margin-bottom: 50px;
}

.video_info {
	/*background-color: green;*/
	margin: 1%;
	width: 18%;
	float: left;
	display: table-cell;
}

.video_info:hover {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
}

.video_thumbnail {
	background-image: url("../assets/images/video_thumbnail.jpg");
	width: 100%;
	height: 126px;
	background-size: 100%;
	/*background-color: blue;*/
	position: relative;
}

.video_thumbnail .video_title {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	font: bold 20px "Roboto";
}

.video_thumbnail .video_duration {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	font: 18px "Roboto";
}

.video_bottom_info {
	width: 100%;
	height: 20px;
	background-color: #00b26f;
	position: relative;
}

.video_bottom_info .video_rating {
	position: absolute;
	left: 0;
	margin: 0;
	font: bold 16px "Roboto";
}

.video_bottom_info .video_tags {
	position: absolute;
	right: 0;
	margin: 0;
	font: 12px "Roboto";
}

/*@keyframes fix_search {
	from {
		width: 100%;
	} to  { 
		width: 100%;
		position: fixed;
		height: 35px;
		margin-top: -40px;
		margin-left: -8px;
		background-color: #d9d9d9;
		border-bottom: 2px solid #000000;
		z-index: 999;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-transform: translate(-60px, -100px);
	}
}

@keyframes fix_search_box {
	from {
		width: 540px;
		height: 80%;
		border-radius: 10px;
		border: 1px solid #000000;
		vertical-align: middle;
		margin-top: 3px;
		font: 25px "Roboto";
	} to {
		width: 300px;
		/*height: 80%;*/
		border-radius: 4px;
		border: 1px solid #ffffff;
		/*vertical-align: middle;
		margin-top: 3px;*/
	}	
}

@keyframes fix_search_bttn {
	from {
		height: 60%;
		vertical-align: middle;
		margin-left: 5px;
	} to {
		height: 50%;
		/*vertical-align: middle;*/
	}
}

/*.search_bttn:hover {
	height: 70%;
}*/