body {
	background: url(../assets/images/bkgrnd.png);
	background-attachment: fixed;
}

#search {
	width: 100%;
	position: fixed;
	height: 35px;
	margin-top: -37px;
	margin-left: -8px;
	background-color: #d9d9d9;
	border-bottom: 2px solid #000000;
	z-index: 999;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search figure {
	margin: 0 auto;
	float: left;
	width: 130px;
	margin: 0px;
}

#search div {
	width: 800px;
	margin: 0 auto;
}

#search img {
	height: 35px;
}

#search_form {
	margin: 0 auto;
	width: 550px;
	height: 35px;
	vertical-align: middle;
}

#filters {
	position: absolute;
    top: 30px;
    margin: 0 auto;
    width: 100px;
    height: 120px;
    border: 3px solid #000000;
    background-color: rgba(255, 255, 255, 0.6);
    font: 16px "Roboto";
    z-index: 999;
}

#search_box {
	width: 300px;
	height: 80%;
	border-radius: 4px;
	border: 1px solid #ffffff;
	vertical-align: middle;
	margin-top: 3px;
 }

#video {
	margin-top: 37px;
	width: 100%;
	/*background-color: blue;*/
}

.filters_bttn {
	border-radius: 10px;
	background-color: #ffffff;
	border: 3px solid #a2a2a2;
	height: 80%;
	font: 16px "Roboto";
	line-height: 80%;
	vertical-align: bottom;
}

.filters_bttn:hover {
	background-color: #a2a2a2;
}

.search_bttn {
	height: 50%;
	vertical-align: middle;
}

.search_bttn:hover {
	height: 60%;
}

video {
	max-width: 800px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
    margin: 0 auto;
}

.video_info {
	max-width: 800px;
	width: 100%;
	height: 200px;
	display: block;
    margin: 0 auto;
}

.video_text {
	width: 80%;
	float: left;
	height: 100%;
	/*background-color: red;*/
}

.video_rating {
	margin-left: 80%;
	width: 20%;
	/*background-color: green;*/
}

.video_text h2 {
    margin: 0;
    font: bold 40px "Roboto";
}

.video_text h4 {
    margin: 0;
    font: 22px "Roboto";
}

.video_text h5 {
    margin: 0;
    font: 12px "Roboto";
}

.video_rating h3 {
    margin: 0;
    font: bold 22px "Roboto";
    text-align: center;
}

.video_rating input {
	margin: 0 auto;
	display: block;
}

#comments {
	max-width: 800px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
    margin: 0 auto;
    height: 100px;
    margin-bottom: 80px;
}

#comments h1 {
	margin: 0;
    font: bold 28px "Roboto";
    margin-bottom: 10px;
}

#comments h3 {
	font: bold 18px "Roboto";
	margin: 0;
	padding: 0;
}

.comment {
	width: 100%;
	float: left;
	/*background-color: green;*/
}

.comment .usr_img {
	width: 70px;
	height: 70px;
	float: left;
	padding-right: 0px;
	/*background-color: red;*/
}

.comment .usr_img img {
	width: 50px;
}

.comment .usr_img figure {
	margin: 0;
}

.comment .usr_text {
	height: 70px;
}

.comment .usr_text span {
	font: 16px "Roboto";
}

.new_comment {
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
}

.new_comment textarea {
	height: 50px;
	width: 70%;
	vertical-align: middle;
	font: 14px "Roboto";
	border-radius: 10px;
	resize: none;
}

.comment_bttn {
	border-radius: 10px;
	vertical-align: middle;
	border: 3px solid #ffffff;
	height: 40px;
	width: 100px;
	font: 18px "Roboto";
	background-color: #2a2a2a;
	background-color: #00B26F;
	color: #FFFFFF;
}

.comment_bttn:hover {
	background-color: #FFFFFF;
	color: #00B26F;
}