<footer ng-controller="bottomBarController">
<section id="login" ng-hide="userIsLogged">
	<form autocomplete="on">
		<input class="text" type="email" placeholder="Email" name="login_email" ng-model="login.email">
		<input class="text" type="password" placeholder="Password" name="login_pwd" ng-model="login.password">
		<input id="login_button" type="button" value="Login" ng-click="loginUser()">
		<input id="register_button" type="button" value="Register" ng-click="showRegister()">
	</form>
</section>
<section id="usr_data" ng-show="userIsLogged">
	<article>
		<figure class="text">
			<img id="usr_data_img" ng-src="{{ user.photo }}" alt="User photo"/>
		</figure>
		<h1 id="usr_data_name" class="text">{{ user.firstName + ' ' + user.lastName }}</h1>
		<input class="button" type="button" value="Log Out" ng-click="logout()">
	</article>
</section>
<section id="register_modal" class="modal" ng-show="registerIsShowing">
	<div class="modal-content" click-out="modalOut()">
    <span class="close" ng-click="hideRegister()">x</span>
	<form autocomplete="on" name="register">
		<input class="reg_big" type="text" placeholder="First Name" name="usr_first_name" ng-model="newUser.firstName">
		<input class="reg_big" type="text" placeholder="Last Name" name="usr_last_name" ng-model="newUser.lastName"><br>
		<input class="reg_big" type="email" placeholder="Email" name="usr_email" ng-model="newUser.email"><br>
		<input class="reg_big" type="password" placeholder="Password" name="usr_password" ng-model="newUser.password"><br>
		<input class="reg_big" type="password" placeholder="Repeat password" name="usr_password_rep" ng-model="newUser.password_rep"><br>
		<input class="reg_big" type="text" placeholder="Profile picture" name="usr_photo" ng-model="newUser.photo"><br>
		<!--<div class="reg_upload">
			<input type="file" name="usr_img" accept="image/*" class="upload" ng-model="newUser.photo"><br>
			<span class="upload_bttn">Upload photo</span>
		</div>-->
		<input class="reg_bttn" type="button" value="Register" ng-click="registerUser()">
	</form>
	</div>
</section>
</footer>