<!DOCTYPE html>
<html>
<head>
	<title>Zydah by SEKs</title>
	<link rel="icon" type="image/ico" href="../assets/images/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="../styles/index.css"/>
	<link rel="stylesheet" type="text/css" href="../styles/bottom_bar.css"/>
	<script type="text/javascript" src="../lib/angular.min.js"></script>
</head>
<body ng-app="zydah">
<div id="tulbux">
<section id="logo" ng-controller="mainController">
	<figure>
	<a href="index.html">
		<img ng-src="{{ zydahBigImg }}" alt="Zydah" />
	</a>
	</figure>
</section>
<section id="search" ng-controller="searchController">
	<div id="search_form">
		<div id="filters" ng-show="filtersAreShowing">
			<div ng-repeat="filter in searchFilters.genres">
				<input type="checkbox" ng-model=filter.value>{{ filter.name }}<br>
			</div>
			<!--<input type="checkbox" name="genre" value="Action">Action<br>
			<input type="checkbox" name="genre" value="Comedy">Comedy<br>
			<input type="checkbox" name="genre" value="Drama">Drama<br>
			<input type="checkbox" name="genre" value="Fantasy">Fantasy<br>
			<input type="checkbox" name="genre" value="Horror">Horror<br>
			<input type="checkbox" name="genre" value="Romance">Romance<br>-->
		</div>
		<input type="button" value="Filters" class="filters_bttn" ng-click="toggleFilters()">
		<input type="search" placeholder="Search..." name="searchquery" id="search_box" ng-model="searchQuery">
		<input type="image" src="../assets/images/search_icon.png" alt="Search" class="search_bttn" id="search_btn" ng-click="search()">
	</div>
</section>
<section id="videos" ng-controller="videosController">
<div ng-repeat="video in videos" ng-click="showVideo(video.url)">
	<article class="video_info">
		<div class="video_thumbnail">
			<h3 class="video_title">{{ video.title }}</h3><br>
			<h4 class="video_duration">{{ secondsToMinSec(video.duration) }}</h4><br>
		</div>
		<div class="video_bottom_info">
			<h5 class="video_rating">{{ video.rating }}</h5>
			<h5 class="video_tags">
				<span ng-repeat="tag in video.tags">{{ tag }} </span>
			</h5>
		</div>
	</article>
</div>
	<!--<article class="video_info">
		<div class="video_thumbnail">
			<h3 class="video_title">Title</h3><br>
			<h4 class="video_duration">Duration</h4><br>
		</div>
		<div class="video_bottom_info">
			<h5 class="video_rating">Rating</h5>
			<h5 class="video_tags">Tags</h5>
		</div>
	</article>
	<article class="video_info">
		<div class="video_thumbnail">
			<h3 class="video_title">Title</h3><br>
			<h4 class="video_duration">Duration</h4><br>
		</div>
		<div class="video_bottom_info">
			<h5 class="video_rating">Rating</h5>
			<h5 class="video_tags">Tags</h5>
		</div>
	</article>
	<article class="video_info">
		<div class="video_thumbnail">
			<h3 class="video_title">Title</h3><br>
			<h4 class="video_duration">Duration</h4><br>
		</div>
		<div class="video_bottom_info">
			<h5 class="video_rating">Rating</h5>
			<h5 class="video_tags">Tags</h5>
		</div>
	</article>
	<article class="video_info">
		<div class="video_thumbnail">
			<h3 class="video_title">Title</h3><br>
			<h4 class="video_duration">Duration</h4><br>
		</div>
		<div class="video_bottom_info">
			<h5 class="video_rating">Rating</h5>
			<h5 class="video_tags">Tags</h5>
		</div>
	</article>
	<article class="video_info">
		<div class="video_thumbnail">
			<h3 class="video_title">Title</h3><br>
			<h4 class="video_duration">Duration</h4><br>
		</div>
		<div class="video_bottom_info">
			<h5 class="video_rating">Rating</h5>
			<h5 class="video_tags">Tags</h5>
		</div>
	</article>
	<article class="video_info">
		<div class="video_thumbnail">
			<h3 class="video_title">Title</h3><br>
			<h4 class="video_duration">Duration</h4><br>
		</div>
		<div class="video_bottom_info">
			<h5 class="video_rating">Rating</h5>
			<h5 class="video_tags">Tags</h5>
		</div>
	</article>
	<article class="video_info">
		<div class="video_thumbnail">
			<h3 class="video_title">Title</h3><br>
			<h4 class="video_duration">Duration</h4><br>
		</div>
		<div class="video_bottom_info">
			<h5 class="video_rating">Rating</h5>
			<h5 class="video_tags">Tags</h5>
		</div>
	</article>
	<article class="video_info">
		<div class="video_thumbnail">
			<h3 class="video_title">Title</h3><br>
			<h4 class="video_duration">Duration</h4><br>
		</div>
		<div class="video_bottom_info">
			<h5 class="video_rating">Rating</h5>
			<h5 class="video_tags">Tags</h5>
		</div>
	</article>
	<article class="video_info">
		<div class="video_thumbnail">
			<h3 class="video_title">Title</h3><br>
			<h4 class="video_duration">Duration</h4><br>
		</div>
		<div class="video_bottom_info">
			<h5 class="video_rating">Rating</h5>
			<h5 class="video_tags">Tags</h5>
		</div>
	</article>
	<article class="video_info">
		<div class="video_thumbnail">
			<h3 class="video_title">Title</h3><br>
			<h4 class="video_duration">Duration</h4><br>
		</div>
		<div class="video_bottom_info">
			<h5 class="video_rating">Rating</h5>
			<h5 class="video_tags">Tags</h5>
		</div>
	</article>-->
</section>
</div>
<div ng-controller="bottomBarController">
<section id="login" ng-hide="userIsLogged">
	<form autocomplete="on">
		<input class="text" type="email" placeholder="Email" name="login_email" ng-model="login.email">
		<input class="text" type="password" placeholder="Password" name="login_pwd" ng-model="login.password">
		<input id="login_button" type="button" value="Login" ng-click="login()">
		<input id="register_button" type="button" value="Register" ng-click="showRegister()">
	</form>
</section>
<section id="usr_data" ng-show="userIsLogged">
	<article>
		<figure class="text">
			<img id="usr_data_img" ng-src="{{ user.photo }}" alt="User photo"/>
		</figure>
		<h1 id="usr_data_name" class="text">{{ user.firstName + ' ' + user.lastName }}</h1>
		<input class="button" type="button" value="Log Out" ng-click="logout()">
	</article>
</section>
<section id="register_modal" class="modal" ng-show="registerIsShowing">
	<div class="modal-content">
    <span class="close" ng-click="hideRegister()">x</span>
	<form autocomplete="on" name="register">
		<div class="reg_big">
			<div class="reg_small">
				<input type="text" placeholder="First Name" name="usr_first_name" ng-model="newUser.firstName">
			</div>
			<div class="reg_small">
				<input type="text" placeholder="Last Name" name="usr_last_name" ng-model="newUser.Lastname"><br>
			</div>
		</div>
		<div class="reg_big">
			<input type="email" placeholder="Email" name="usr_email" ng-model="newUser.email"><br>
		</div>
		<div class="reg_big">
			<input type="password" placeholder="Password" name="usr_password" ng-model="newUser.password"><br>
		</div>
		<div class="reg_big">
			<input type="password" placeholder="Repeat password" name="usr_password_rep" ng-model="newUser.password_rep"><br>
		</div>
		<div class="reg_upload">
			<input type="file" name="usr_img" accept="image/*" class="upload" ng-model="newUser.photo"><br>
			<span class="upload_bttn">Upload photo</span>
		</div>
		<div class="reg_bttn">
			<input type="button" value="Register" ng-click="registerUser()">
		</div>
	</form>
	</div>
</section>
</div>
<script type="text/javascript" src="../scripts/app.js"></script>
<script type="text/javascript" src="../scripts/main.js"></script>
<script type="text/javascript" src="../scripts/search.js"></script>
<script type="text/javascript" src="../scripts/videos.js"></script>
<script type="text/javascript" src="../scripts/bottomBar.js"></script>
<script type="text/javascript">
	var search_btn = document.getElementById('search_btn');
	search_btn.onclick = function() {
		document.getElementById('tulbux').className ='tulbux';
		setTimeout(swipe, 870);
	}

	function swipe() {
		window.location="search_results.html";
	}
</script>
</body>
</html>