<!DOCTYPE html>
<html>
<head>
	<title>Zydah by SEKs</title>
	<link rel="icon" type="image/ico" href="../assets/images/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="../styles/register.css">
</head>
<body>
<section id="register_modal" class="modal">
	<div class="modal-content">
    <span class="close">x</span>
	<form autocomplete="on">
		<div class="reg_big">
			<div class="reg_small">
				<input type="text" placeholder="First Name" name="usr_first_name">
			</div>
			<div class="reg_small">
				<input type="text" placeholder="Last Name" name="usr_last_name"><br>
			</div>
		</div>
		<div class="reg_big">
			<input type="email" placeholder="Email" name="usr_email"><br>
		</div>
		<div class="reg_big">
			<input type="password" placeholder="Password" name="usr_password"><br>
		</div>
		<div class="reg_big">
			<input type="password" placeholder="Repeat password" name="usr_password_rep"><br>
		</div>
		<div class="reg_upload">
			<input type="file" name="usr_img" accept="image/*" class="upload"><br>
			<span class="upload_bttn">Upload photo</span>
		</div>
		<div class="reg_bttn">
			<input type="submit" value="Register" onclick="window.open('video_player.html')">
		</div>
	</form>
	</div>
</section>
</body>
</html>