<!DOCTYPE html>
<html>
<head>
	<title>Zydah by SEKs</title>
	<link rel="icon" type="image/ico" href="../assets/images/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="../styles/video_player.css"/>
	<link rel="stylesheet" type="text/css" href="../styles/bottom_bar.css"/>
	<script type="text/javascript" src="../lib/angular.min.js"></script>
</head>
<body ng-app="zydah">
<section id="search" ng-controller="searchController">
	<div>
	<figure>
	<a href="../index.html">
		<img ng-src="{{ zydahSmall }}" alt="Zydah"/>
	</a>
	</figure>
	<div id="search_form">
		<div id="filters" ng-show="filtersAreShowing">
			<div ng-repeat="filter in searchFilters.genres">
				<input type="checkbox" ng-model=filter.value>{{ filter.name }}<br>
			</div>
			<!--<input type="checkbox" name="genre" value="Action">Action<br>
			<input type="checkbox" name="genre" value="Comedy">Comedy<br>
			<input type="checkbox" name="genre" value="Drama">Drama<br>
			<input type="checkbox" name="genre" value="Fantasy">Fantasy<br>
			<input type="checkbox" name="genre" value="Horror">Horror<br>
			<input type="checkbox" name="genre" value="Romance">Romance<br>-->
		</div>
		<input type="button" value="Filters" class="filters_bttn" ng-click="toggleFilters()">
		<input type="search" placeholder="Search..." name="searchquery" id="search_box" ng-model="searchQuery">
		<input type="image" src="../assets/images/search_icon.png" alt="Search" class="search_bttn" ng-click="search()">
	</div>
	</div>
</section>
<div ng-controller="videoplayerController">
<section id="video">
	<video controls ng-src="{{ video.url }}">
		 <!--<source ng-src="{{ demoVideoURL }}" type="video/mp4">
		 Your browser does not support the video tag.-->
	</video>
	<div class="video_info">
		<div class="video_text">
			<h2>{{ video.title }}</h2><br/>
			<h4>{{ video.description }}</h4><br/>
			<h5 ng-repeat="tag in video.tags">{{ tag }}</h5>
		</div>
		<div class="video_rating">
			<input type="button" name="plus" value="^" ng-click="plus1()">
			<h3>{{ video.rating }}</h3>
			<input type="button" name="minus" value="v" ng-click="minus1()">
		</div>
	</div>
</section>
<hr>
<section id="comments">
	<input type="button" value="Comment" class="comment_bttn">
	<header><h1>Comments</h1></header>
	<article ng-repeat="commentData in video.comments">
		<div class="comment">
			<div class="usr_img">
				<figure>
					<img ng-src="{{ commentData.img }}" alt="{{ commentData.name }}"/>
				</figure>
			</div>
			<div class="usr_text">
				<h3>{{ commentData.name }}</h3>
				<span>{{ commentData.text }}</span><br>
			</div>
		</div>
	</article>
</section>
</div>
<div ng-controller="bottomBarController">
<section id="login" ng-hide="userIsLogged">
	<form autocomplete="on">
		<input class="text" type="email" placeholder="Email" name="login_email" ng-model="login.email">
		<input class="text" type="password" placeholder="Password" name="login_pwd" ng-model="login.password">
		<input id="login_button" type="button" value="Login" ng-click="login()">
		<input id="register_button" type="button" value="Register" ng-click="showRegister()">
	</form>
</section>
<section id="usr_data" ng-show="userIsLogged">
	<article>
		<figure class="text">
			<img id="usr_data_img" ng-src="{{ user.photo }}" alt="User photo"/>
		</figure>
		<h1 id="usr_data_name" class="text">{{ user.firstName + ' ' + user.lastName }}</h1>
		<input class="button" type="button" value="Log Out" ng-click="logout()">
	</article>
</section>
<section id="register_modal" class="modal" ng-show="registerIsShowing">
	<div class="modal-content">
    <span class="close" ng-click="hideRegister()">x</span>
	<form autocomplete="on" name="register">
		<div class="reg_big">
			<div class="reg_small">
				<input type="text" placeholder="First Name" name="usr_first_name" ng-model="newUser.firstName">
			</div>
			<div class="reg_small">
				<input type="text" placeholder="Last Name" name="usr_last_name" ng-model="newUser.Lastname"><br>
			</div>
		</div>
		<div class="reg_big">
			<input type="email" placeholder="Email" name="usr_email" ng-model="newUser.email"><br>
		</div>
		<div class="reg_big">
			<input type="password" placeholder="Password" name="usr_password" ng-model="newUser.password"><br>
		</div>
		<div class="reg_big">
			<input type="password" placeholder="Repeat password" name="usr_password_rep" ng-model="newUser.password_rep"><br>
		</div>
		<div class="reg_upload">
			<input type="file" name="usr_img" accept="image/*" class="upload" ng-model="newUser.photo"><br>
			<span class="upload_bttn">Upload photo</span>
		</div>
		<div class="reg_bttn">
			<input type="button" value="Register" ng-click="registerUser()">
		</div>
	</form>
	</div>
</section>
</div>
<script type="text/javascript" src="../scripts/app.js"></script>
<script type="text/javascript" src="../scripts/search.js"></script>
<script type="text/javascript" src="../scripts/search.js"></script>
<script type="text/javascript" src="../scripts/videoplayer.js"></script>
<script type="text/javascript" src="../scripts/bottomBar.js"></script>
</body>
</html>